{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Editar Postagem</h3>

<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/edit" method="post">
            <input type="hidden" value="{{postagem.id}}" name="id">
            <label for="title">Título: </label>
            <input type="text" name="title" class="form-control" value="{{postagem.title}}">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">
            <label for="description">Descrição: </label>
            <input type="text" name="description" class="form-control" value="{{postagem.description}}">
            <label for="content">Conteúdo: </label>
            <textarea name="content" class="form-control">{{postagem.content}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="form-select">
                {{#each categorias}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-4" type="submit">Editar Postagem</button>
        </form>
    </div>
</div>
