<h1>Posts List</h1>
<a href="/register"><button>New Post</button></a>
<hr>
{{#each posts}}
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    Created at <small>{{createdAt}}</small>
    <p>
        <a href="/delete/{{id}}"><button>Delete Post</button></a>
        <a href="/edit/{{id}}"><button>Edit Post</button></a>
    </p>
    <hr>
{{/each}}
