<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao Blog NodeJS</h1>
  <p class="lead">Este é um blog simples, criado para fins de estudo com as tecnologias Node.js, Express e MongoDB.</p>
  <hr class="my-4">
  <p>Curiosidades sobre computação. Você irá aprender muito aqui!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma Conta</a>
</div>

<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{categoria.name}}</small> <br>
        <small>Data de publicação: {{categoria.date}}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem recente.</h5>
{{/each}}
